<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{{ data[0].title }}</title>
        <link rel="canonical" href="{{ data[0].url }}">
        <meta name="description" content="{{ data[0].description}}">
        <meta name="keywords" content="{{ data[0].keywords }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ data[0].url }}">
        <meta property="twitter:title" content="{{ data[0].title }}">
        <meta property="twitter:description" content="{{ data[0].description}}">
        <meta property="twitter:image" content="{{ data[0].logo }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="{{ data[0].title }}">
        <meta property="og:description" content="{{ data[0].description}}">
        <meta property="og:image" content="{{ data[0].logo }}">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ data[0].title }}">
        <meta property="og:url" content="{{ data[0].url }}">

        <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
        <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" data-mce-href="./favicon-32x32.png">
        <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" data-mce-href="./favicon-16x16.png">
        <link rel="icon" type="image/png" href="./android-chrome-192x192.png" sizes="192x192" data-mce-href="./android-chrome-192x192.png">
        <link rel="icon" type="image/png" href="./android-chrome-512x512.png" sizes="512x512" data-mce-href="./android-chrome-512x512.png">

        <link rel="manifest" href="./site.webmanifest">
        <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="preload" href="./css/fonts.css" as="style">
        <link rel="stylesheet" href="./css/fonts.css" media="print" onload="this.media='all'">
        <link href="./css/main.css" rel="stylesheet">
    </head>
<body>
    {% include './parts/_top-button.twig' %}
    {% include './parts/_header.twig'  %}
    {% block page %}{% endblock %}
    {% include './parts/_footer.twig' %}
    {% include './parts/scripts.twig' %}
</body>
</html>