<footer class="footer">
    <div class="container">
        <h4
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-duration="500"
            data-aos-once="true"
        class="footer__copyright">© 2018 «LOREMIPSUM.NET» Все права защищены.</h4>
        <ul class="footer-list">
            {% for key, item in data[3].data %}
                <li
                    data-aos="fade"
                    data-aos-offset="0"
                    data-aos-delay="{{ 200+100*(key+1) }}"
                    data-aos-duration="500"
                    data-aos-once="true"
                ><a class="footer__link icon icon--small icon--{{ item.icon }}" href="{{ item.href }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <ul class="footer-list">
             {% for key, item in data[4].data %}
                <li
                    data-aos="fade"
                    data-aos-offset="0"
                    data-aos-delay="{{ data[3].data.length * (50+100*(key+1)) }}"
                    data-aos-duration="500"
                    data-aos-once="true"
                ><a class="footer__link icon icon--small icon--{{ item.icon }}" href="{{ item.href }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</footer>
